.backgroundImg1 {
  width: 80vw;
  height: 80vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.bodyBackground {
  background-image: url("/static/about.png");
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;
}

.hidden {
  display: none;
}
textarea {
  resize: none;
}

.active {
  color: aqua;
}
.bodyForm {
  background-color: #ffffff;
}
input[type="text"],
input[type="email"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #1f9bcf;
  background: transparent;
}
.letter-spacing-2 {
  letter-spacing: 0.125rem !important;
}
.text-large {
  font-size: 1.05vw !important;
  line-height: 1.5rem !important;
  opacity: 90 !important;
}
.title-extra-large {
  font-size: 4vw !important;
  line-height: 5.225rem !important;
}

.title-very-large {
  font-size: 3vw !important;
  line-height: 4.225rem !important;
}

.title-table {
  font-size: 3vw !important;
  line-height: 4.225rem !important;
  letter-spacing: 0px !important;
}

.bar-limitator {
  background-color: #614844 !important;
  height: 2px;
  width: 180px;
  margin: 0 auto;
}
.font-w-700 {
  font-weight: 700 !important;
}

.font-w-1000 {
  font-weight: 1000 !important;
}

.no-decoration {
  text-decoration: none !important;
}

.background-full-width-section1::before {
  content: "";
  position: absolute;
  background-image: url("/static/Building1.svg");
  width: 70%;
  height: 70%;
  background-repeat: no-repeat;
  left: 0;
  top: 41%;
  animation: bounce 2s infinite alternate;
  -webkit-animation: bounce 2s infinite alternate;
}

.background-full-width-section1 {
  background-image: url("/static/back1.svg");
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.background-full-width-section2 {
  background-image: url("/static/about.svg");
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.background-card {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.display-inline {
  display: inline-block !important;
}

.card-presentation {
  width: 250px !important;
  height: 280px !important;
}

.active {
  border-top: 0.25rem solid;
}

.no-border {
  border: none;
}

@media (max-width: 1090px) {
  .text-large {
    font-size: 2.75rem !important;
    line-height: 4.255rem !important;
  }
  .title-extra-large {
    font-size: 5.25rem !important;
    line-height: 4.79rem !important;
  }
  .title-very-large {
    font-size: 3.55rem !important;
    line-height: 3.825rem !important;
  }
  .title-table {
    font-size: 2.55rem !important;
    line-height: 3.825rem !important;
  }
  .margin-auto-md {
    margin: 0 auto;
  }
  .background-full-width-section2 {
    background-image: none;
  }

  .text-motivation {
    color: #1a1a1a !important;
  }
}

@media (max-width: 768px) {
  .text-center-md {
    text-align: center !important;
  }

  .nav-link {
    padding-left: 0.5rem !important;
  }
  .active {
    border-top: none;
    border-left: 0.25rem solid;
  }
}

@keyframes bounce {
  from {
    top: 41%;
  }
  to {
    top: 34%;
  }
}
