.view-cascade {
  margin-top: -1.45rem;
  margin-left: -10%;

  border-radius: 0.25rem;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.card {
  transition: box-shadow 0.25s ease-in-out !important;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.img {
  cursor: pointer;
}
.hidden {
  visibility: hidden !important;
}

.full-div-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  overflow: hidden;
}

.price-font {
  letter-spacing: 0.05rem !important;
  font-weight: bold;

  color: black;
  text-align: left;
}
.link {
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid #000000;
}
.fontw-300 {
  font-weight: 300 !important;
  opacity: 0.5 !important;
}

.price-font-presentation {
  letter-spacing: 0.05rem !important;
  font-weight: bold;
  font-size: 2rem !important;
  color: black;
  text-align: left;
}

.btn-info {
  background-color: #005720 !important;
}
.btn-info:disabled {
  background-color: #c3c3c3 !important;
}

.btn-info:hover:enabled {
  background-color: #029658 !important;
}

.btn-shadow {
  transition: box-shadow 0.25s ease-in-out !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-shadow:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  cursor: pointer !important;
}
.view {
  position: relative;
  overflow: hidden;
  cursor: default;
}

.table-div {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.table-h-no-space {
  letter-spacing: 0 !important;
}
.table-euro {
  color: #000000 !important;
  font-size: 1.5rem !important;
  text-align: center !important;
}
.bordered-detail {
  border-bottom: 1px solid #c3c3c3 !important;
  border-top: 1px solid #c3c3c3 !important;
  font-size: 1.25rem !important;
}

.table-price {
  color: #000000 !important;
  font-size: 3.375rem;
  font-weight: 900;
}
.table-elements {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.table-price-fraction {
  color: #000000 !important;
  font-size: 1.25rem;
  font-weight: 900;
}

.no-caps {
  text-transform: none !important;
}

.table-h-font-size {
  font-size: 1.25rem;
}

.table-h-secondary-font-size {
  font-size: 0.95rem !important;
}

.v-align-top {
  vertical-align: top !important;
}

.table-p-extra {
  font-size: 0.9rem !important;
  text-transform: none !important;
}

.padding-table-head {
  padding-top: 3.125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.btn-table-option {
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important;

  height: 2.5rem !important;
  text-align: center;
}

.float-r-ld {
  float: right !important;
}
@media (max-width: 992px) {
  .float-r-ld {
    float: none !important;
  }
}

@media (max-width: 650px) {
  .view-cascade {
    margin-top: -1.5rem !important;
    margin-left: 4% !important;
    margin-right: 4% !important;
  }
  .margin-sm {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .body-form {
    padding: 0.25rem !important;
  }

  /* .table-price {
    font-size: 1.35rem !important;
  }

  .table-price-fraction {
    font-size: 1rem !important;
  }

  .table-euro {
    font-size: 1rem !important;
  } */
}
